html {
	background: url('background1.jpg') center top no-repeat;
	background-color: #050009;
}

* {
	margin: 0;
}

h1 {
	color: #9BD1CF;
	font-size: 50px;
	text-align: center;
}
	
p {
	color: #254140;
	font-size: 30px;
	width: 50%;
}
	
label {
	font-size: 10px;
}

.font {
	font-family: Lobster;
}
	
input {
	background-color: #DCFFFE;
	margin-bottom: 10px;
	margin-top: 0px;
}

#block {
	margin-top: 250px;
}

#footer {
	margin-top: 250px;
}

#date {
	color: #01939A;
}
	
#time, #current {
	 color: #FFAE40;
}

button {
	background-color: #FFAD73;
}

button:hover {
	background-color: #FF8F40;
}

button:active {
	background-color: #A64500;
}

