html {
	background: url('background1.jpg') center top no-repeat;
	background-color: #050009;
}

* {
	margin: 0;
}

h1 {
	color: #9BD1CF;
	font-size: 50px;
	text-align: center;
}
	
p {
	color: #254140;
	font-size: 30px;
	width: 50%;
}
	
label {
	font-size: 10px;
	visibility: hidden;
}

.font {
	font-family: Lobster;
}
	
input {
	background-color: #DCFFFE;
	margin-bottom: 10px;
	margin-top: 0px;
}

#block {
	margin-top: 260px;
}

#footer {
	margin-top: 280px;
}

#date {
	font-family: Poiret One;
	font-size: 18px;
	color: #01939A;
}
	
#time, #current {
	font-family: Poiret One;
	font-size: 18px;
	color: #FFAE40;
}

.button {
	background-color: #FFAD73;
	font-family: Poiret One;
	font-weight: bold;
	font-size: 20px;
}

.button:hover {
	background-color: #FF8F40;
}

.button:active {
	background-color: #A64500;
}

.warning-ie{
   font-size:30px;
   width:100%;
   height:100px;
   line-height:100px;
   text-align:center;
   color:#ff0000;
   background:#000;
   display:none;
}
.show{
 display:block;
}
